In [1]:
# Import the packages
# read the data

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

path=r"C:\Users\RAJESH\OneDrive\Data science\data files\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

**standardization**
- standardization units means scaling the data into scale
- we have different columns has different units so that the value will vary 
- one column has very huge values
- another column has very less values
- so it is important to scale all types of units under one scale
- we have 2 procedures
  - z score
 - the value ranges from -3 to 3

- normalization
- min max scalar
- value ranges from zero to one

In [ ]:
# # step 1:- take prevailing wage column df['column']
# #z-score= x-mean/sigma
#  step-2: calculate mean of prevailing wage
#  step-3: calculate std of prewage
# step 4: nr: pwage-mean
# step 5: pwage_zscore=nr/dr

In [8]:
pwage=visa_df['prevailing_wage']
pwage_mean=visa_df['prevailing_wage'].mean()
pwage_std=visa_df['prevailing_wage'].std()

Nr=pwage-pwage_mean
visa_df['prevailing_wage_z']=Nr/pwage_std

In [12]:
visa_df[['prevailing_wage','prevailing_wage_z']]

       prevailing_wage  prevailing_wage_z
0             592.2029          -1.398510
1           83425.6500           0.169832
2          122996.8600           0.919060
3           83434.0300           0.169991
4          149907.3900           1.428576
...                ...                ...
25475       77092.5700           0.049923
25476      279174.7900           3.876083
25477      146298.8500           1.360253
25478       86154.7700           0.221504
25479       70876.9100          -0.067762

[25480 rows x 2 columns]

In [13]:
visa_df['prevailing_wage'].idxmax()
# in the prevailing_wage column the maximum value id is 21077

21077

In [16]:
visa_df['prevailing_wage'].max(),visa_df['prevailing_wage_z'].min()

(319210.27, -1.4096818992891214)

In [15]:
visa_df['prevailing_wage'].min(),visa_df['prevailing_wage_z'].min()

(2.1367, -1.4096818992891214)

In [18]:
visa_df['prevailing_wage'].idxmin()

20575

In [19]:
visa_df.iloc[[21077,20575]]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
21077,EZYV21078,Asia,High School,N,N,442,2006,Midwest,319210.2700,Year,Y,Denied,4.634102
20575,EZYV20576,North America,Master's,N,N,1552,2004,Northeast,2.1367,Hour,Y,Certified,-1.409682

In [22]:
visa_df[['prevailing_wage','prevailing_wage_z']].iloc[[21077,20575]]
#or 
cols=['prevailing_wage','prevailing_wage_z']
ids=[21077,20575]
visa_df[cols].iloc[ids]

       prevailing_wage  prevailing_wage_z
21077      319210.2700           4.634102
20575           2.1367          -1.409682

In [ ]:
generally we will overwrite the column values 
 because we want to clean our data before we apply the ML
if you already create any extra columns mAKE SURE drop some of non required columns

**standard scalar**

In [25]:
# read the package 
# save the package
# apply fit trans
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit_transform(visa_df['prevailing_wage'])

ValueError: Expected 2D array, got 1D array instead:
array=[   592.2029  83425.65   122996.86   ... 146298.85    86154.77
  70876.91  ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [26]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df[['prevailing_wage']])

In [27]:
cols=['prevailing_wage','prevailing_wage_z','prevailing_wage_ss']

**Normalization**
- $min$$max$$scalar$

#x-xmin/(xmax-xmin)

In [ ]:
# x=data_column
# x_min
# x_max
# nr=x-xmin
# dr=xmax-xmin
# nr/dr

In [29]:
path=r"C:\Users\RAJESH\OneDrive\Data science\data files\Visadataset.csv"
visa_df=pd.read_csv(path)

In [ ]:
pwage=visa_df['prevailing_wage']
pwage_mean=visa_df['prevailing_wage'].mean()
pwage_std=visa_df['prevailing_wage'].std()

Nr=pwage-pwage_mean
visa_df['prevailing_wage_z']=Nr/pwage_std

In [39]:
pwage=visa_df['prevailing_wage']
pwage_min=visa_df['prevailing_wage'].min()
pwage_max=visa_df['prevailing_wage'].max()
nr=pwage-pwage_min
dr=pwage_max-pwage_min
ss=nr/dr
ss

0        0.001849
1        0.261345
2        0.385312
3        0.261371
4        0.469616
           ...
25475    0.241505
25476    0.874579
25477    0.458311
25478    0.269895
25479    0.222033
Name: prevailing_wage, Length: 25480, dtype: float64

In [42]:
ss.min(),ss.max()

(0.0, 1.0)

In [48]:
from sklearn.preprocessing import MinMaxScalar
mms=MinMaxScalar()
visa_df['prevailing_wage_mms']=mms.fit_transform(visa_df[['prevailing_wage_mms']])

ImportError: cannot import name 'MinMaxScalar' from 'sklearn.preprocessing' (C:\Users\RAJESH\anaconda3\Lib\site-packages\sklearn\preprocessing\__init__.py)