In [1]:
# import packages and read the data
import pandas as pd #data frame operations
import numpy as np # math operations
import matplotlib.pyplot as plt # diagrams/plots
import seaborn as sns #diagrams/plots

In [2]:
path=r"C:\Users\RAJESH\OneDrive\Data science\data files\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [3]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [4]:
visa_df.select_dtypes(exclude='object').columns # to get the numerical data

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

$prevailling$  $age$

- in the numerical analysis
- mean median std count 25p 50p

In [6]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [7]:
len(visa_df['prevailing_wage'])

25480

In [8]:
visa_df['prevailing_wage'].count()

25480

$mean$

In [9]:
visa_df['prevailing_wage'].mean() #pandas

74455.81459209183

In [10]:
np.mean(visa_df['prevailing_wage']) # to get the mean

74455.81459209183

$median$

In [11]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [13]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

$max$

In [14]:
visa_df['prevailing_wage'].max()

319210.27

In [16]:
np.max(visa_df['prevailing_wage'])

319210.27

$min$

In [17]:
visa_df['prevailing_wage'].min()

2.1367

In [18]:
np.min(visa_df['prevailing_wage'])

2.1367

$round of$

In [20]:
round(visa_df['prevailing_wage'].count(),2)

25480

In [22]:
## all together ###
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)  #pandas 
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)
l=[wage_count,wage_max,wage_min,wage_mean,wage_median,wage_std]
cols=['prevailing_wage']
index=['count','max','min','mean','median','std']
pd.DataFrame(l,columns=cols,index=index)

        prevailing_wage
count          25480.00
max           319210.27
min                2.14
mean           74455.81
median         70308.21
std            52815.94

$percentile$ $quantile$

- percentile and quantile available in numpy
- np.percentile()
      - column name
      - percentile values between  0 to 100
- np.quantile()
     -column name
    - 0 to 1
- in quantile  0.25 means 25 in percentile`

In [25]:
np.percentile(visa_df['prevailing_wage'],25) # percentile ranges btw 0 to 100

34015.479999999996

In [27]:
np.quantile(visa_df['prevailing_wage'],0.25) # quantile ranges btw 0 to 1

34015.479999999996

In [ ]:
** what is the meaning of 25percentile=34015.47
25 percentage of total data has wage less than 34015.47
# to get 25 percentage of data 
25*25480/100
#  6370 persons wage less than 34014

In [30]:
con=visa_df['prevailing_wage']<34014
visa_df[con]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
7,EZYV08,North America,Bachelor's,Y,N,3035,1924,West,418.2298,Hour,Y,Denied
12,EZYV13,Asia,Bachelor's,Y,N,123876,1963,Northeast,28663.0500,Year,Y,Certified
16,EZYV17,Europe,Master's,Y,N,76638,1991,Midwest,3706.7900,Year,Y,Certified
17,EZYV18,Asia,Master's,Y,N,2747,2001,West,16132.6100,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25461,EZYV25462,Asia,Master's,Y,N,2861,2004,West,54.9196,Hour,Y,Denied
25465,EZYV25466,North America,High School,N,N,2577,1995,South,481.2238,Hour,Y,Certified
25466,EZYV25467,Europe,Bachelor's,Y,N,1938,2005,West,6973.4000,Year,Y,Denied
25470,EZYV25471,North America,Master's,Y,N,2272,1970,Northeast,516.4101,Hour,Y,Certified
25473,EZYV25474,Asia,Bachelor's,Y,N,2421,2007,Northeast,22845.5600,Year,Y,Certified

# can it valid quickly for 50p of data

In [34]:
wage_50=np.percentile(visa_df['prevailing_wage'],50) # percentile ranges btw 0 to 100
wage_50

70308.20999999999

In [38]:
wage_75=np.percentile(visa_df['prevailing_wage'],75) # percentile ranges btw 0 to 100
wage_75

107735.51250000001

In [39]:
wage_25=np.percentile(visa_df['prevailing_wage'],25) # percentile ranges btw 0 to 100
wage_25

34015.479999999996

In [32]:
np.quantile(visa_df['prevailing_wage'],0.50) # quantile ranges btw 0 to 1

70308.20999999999

In [36]:
con=visa_df['prevailing_wage']<wage_50
visa_df[con]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
6,EZYV07,Asia,Bachelor's,N,N,4985,1994,South,53635.3900,Year,Y,Certified
7,EZYV08,North America,Bachelor's,Y,N,3035,1924,West,418.2298,Hour,Y,Denied
9,EZYV10,Europe,Doctorate,Y,N,2251,1995,South,67514.7600,Year,Y,Certified
12,EZYV13,Asia,Bachelor's,Y,N,123876,1963,Northeast,28663.0500,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25465,EZYV25466,North America,High School,N,N,2577,1995,South,481.2238,Hour,Y,Certified
25466,EZYV25467,Europe,Bachelor's,Y,N,1938,2005,West,6973.4000,Year,Y,Denied
25470,EZYV25471,North America,Master's,Y,N,2272,1970,Northeast,516.4101,Hour,Y,Certified
25473,EZYV25474,Asia,Bachelor's,Y,N,2421,2007,Northeast,22845.5600,Year,Y,Certified
25474,EZYV25475,Africa,Doctorate,N,N,2594,1979,Northeast,51104.7800,Year,Y,Certified

In [37]:
50*25480/100

12740.0

In [41]:
## all together ###
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)  #pandas 
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)
wage_25=np.percentile(visa_df['prevailing_wage'],25) 
wage_50=np.percentile(visa_df['prevailing_wage'],50)
wage_75=np.percentile(visa_df['prevailing_wage'],75)
l=[wage_count,wage_max,wage_min,wage_mean,wage_median,wage_std,wage_25,wage_50,wage_75]
cols=['prevailing_wage']
index=['count','max','min','mean','median','std','25%','50%','75%']
pd.DataFrame(l,columns=cols,index=index)

        prevailing_wage
count        25480.0000
max         319210.2700
min              2.1400
mean         74455.8100
median       70308.2100
std          52815.9400
25%          34015.4800
50%          70308.2100
75%         107735.5125

# by using list

In [57]:
## all together ###
cols=visa_df.select_dtypes(exclude='object').columns
l=[]
for i in cols:
    count=round(visa_df[i].count(),2)
    mean=round(visa_df[i].mean(),2)
    minn=round(visa_df[i].min(),2)  #pandas 
    maxx=round(visa_df[i].max(),2)
    median=round(visa_df[i].median(),2)
    std=round(visa_df[i].std(),2)
    p_25=np.percentile(visa_df[i],25) 
    p_50=np.percentile(visa_df[i],50)
    p_75=np.percentile(visa_df[i],75)
    l.append([count,maxx,minn,mean,median,std,p_25,p_50,p_75])
index=['count','max','min','mean',
       'median','std','25%',
       '50%','75%']
pd.DataFrame(zip(l[0],l[1],l[2]),columns=cols,index=index)

        no_of_employees  yr_of_estab  prevailing_wage
count          25480.00     25480.00       25480.0000
max           602069.00      2016.00      319210.2700
min              -26.00      1800.00           2.1400
mean            5667.04      1979.41       74455.8100
median          2109.00      1997.00       70308.2100
std            22877.93        42.37       52815.9400
25%             1022.00      1976.00       34015.4800
50%             2109.00      1997.00       70308.2100
75%             3504.00      2005.00      107735.5125

# by using dictionary

In [53]:
## all together ###
cols=visa_df.select_dtypes(exclude='object').columns
d={}
for i in cols:
    count=round(visa_df[i].count(),2)
    mean=round(visa_df[i].mean(),2)
    minn=round(visa_df[i].min(),2)  #pandas 
    maxx=round(visa_df[i].max(),2)
    median=round(visa_df[i].median(),2)
    std=round(visa_df[i].std(),2)
    p_25=np.percentile(visa_df[i],25) 
    p_50=np.percentile(visa_df[i],50)
    p_75=np.percentile(visa_df[i],75)
    d[i]=([count,maxx,minn,mean,median,std,p_25,p_50,p_75])
index=['count','max','min','mean',
       'median','std','25%',
       '50%','75%']
pd.DataFrame(d,columns=cols,index=index)

        no_of_employees  yr_of_estab  prevailing_wage
count          25480.00     25480.00       25480.0000
max           602069.00      2016.00      319210.2700
min              -26.00      1800.00           2.1400
mean            5667.04      1979.41       74455.8100
median          2109.00      1997.00       70308.2100
std            22877.93        42.37       52815.9400
25%             1022.00      1976.00       34015.4800
50%             2109.00      1997.00       70308.2100
75%             3504.00      2005.00      107735.5125